In [1]:
from pymongo import MongoClient
from faker import Faker  # To generate synthetic data

# instantiate faker
fake = Faker()

In [5]:

client = MongoClient("mongodb+srv://ashru:7410@cluster0.xhr0n.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test

In [6]:
db = client.get_database('Guvi')
mycol = db.telephone_directory

In [7]:
mycol.count_documents({})

39

### Create

In [9]:
# prepare the data that would be uploaded to the database

start_pt = 1 # change this as per necessary
end_pt = 41
# The above points are the range in which new id will be added

data = []

for i in range(start_pt, end_pt):
    obj = i
    name = fake.name_nonbinary()
    
    mail = fake.ascii_free_email()
    mob = fake.phone_number()
    occp = fake.job()
    company = fake.company()
    
    bld_no = fake.building_number()
    st_address = fake.street_name()
    city = fake.city()
    country = fake.country()

    detail_dict = {
        '_id':obj, 
        'name':name, 
        'mob':mob,
        'occupation':occp,
        'company':company,
        'address':{
            'building number':bld_no, 
            'street':st_address, 
            'city':city,
            'country':country
        }
    }

    data.append(detail_dict)


print("Dataset generated")

Dataset generated

In [10]:
# Have a look at the dataset
data[1:3]

[{'_id': 2,
  'name': 'Aaron Simpson',
  'mob': '+1-534-924-8979x343',
  'occupation': 'Further education lecturer',
  'company': 'Gray, Marshall and Townsend',
  'address': {'building number': '14735',
   'street': 'Costa Junction',
   'city': 'Robinsontown',
   'country': 'Netherlands'}},
 {'_id': 3,
  'name': 'Anthony Edwards',
  'mob': '0177038400',
  'occupation': 'Therapeutic radiographer',
  'company': 'Byrd PLC',
  'address': {'building number': '8113',
   'street': 'Taylor Divide',
   'city': 'Janiceburgh',
   'country': 'Romania'}}]

In [11]:
# insert the data to collection
mycol.insert_many(data)

print("Uploading successfull.../")

Uploading successfull.../

In [12]:
# count the number of documents
mycol.count_documents({})

40

### Search

In [13]:
# see all the documents in the database
for x in mycol.find():
    print(x)

{'_id': 1, 'name': 'Matthew Allen', 'mob': '155-052-2764x12651', 'occupation': 'Fine artist', 'company': 'Barnett, Johnston and Pennington', 'address': {'building number': '266', 'street': 'Small Road', 'city': 'Barrettchester', 'country': 'Malawi'}}
{'_id': 2, 'name': 'Aaron Simpson', 'mob': '+1-534-924-8979x343', 'occupation': 'Further education lecturer', 'company': 'Gray, Marshall and Townsend', 'address': {'building number': '14735', 'street': 'Costa Junction', 'city': 'Robinsontown', 'country': 'Netherlands'}}
{'_id': 3, 'name': 'Anthony Edwards', 'mob': '0177038400', 'occupation': 'Therapeutic radiographer', 'company': 'Byrd PLC', 'address': {'building number': '8113', 'street': 'Taylor Divide', 'city': 'Janiceburgh', 'country': 'Romania'}}
{'_id': 4, 'name': 'John Herrera', 'mob': '+1-294-960-7892', 'occupation': 'Radio broadcast assistant', 'company': 'Gaines-Williams', 'address': {'building number': '6299', 'street': 'Emily Stream', 'city': 'North Brittanyhaven', 'country': 'Hong Kong'}}
{'_id': 5, 'name': 'Karla Medina', 'mob': '835.350.8833', 'occupation': 'Engineer, maintenance', 'company': 'Wilkins PLC', 'address': {'building number': '374', 'street': 'Bennett Loop', 'city': 'East Kimberlyton', 'country': 'Saint Barthelemy'}}
{'_id': 6, 'name': 'Cristian Brennan', 'mob': '(694)762-5917x8268', 'occupation': 'Police officer', 'company': 'Payne, Acevedo and Arnold', 'address': {'building number': '94201', 'street': 'Calderon Parks', 'city': 'West Yolandabury', 'country': 'Netherlands Antilles'}}
{'_id': 7, 'name': 'Valerie Fleming', 'mob': '(941)152-2408x00774', 'occupation': 'Purchasing manager', 'company': 'Huerta, Evans and Martin', 'address': {'building number': '99037', 'street': 'Jessica Mills', 'city': 'Sarahborough', 'country': 'Guatemala'}}
{'_id': 8, 'name': 'John Obrien', 'mob': '393-724-1485x87021', 'occupation': 'Animal nutritionist', 'company': 'Luna-Pena', 'address': {'building number': '7732', 'street': 'Mccarthy Ranch', 'city': 'West Wesley', 'country': 'Sao Tome and Principe'}}
{'_id': 9, 'name': 'Christina Smith', 'mob': '244.754.3518x363', 'occupation': 'Clinical cytogeneticist', 'company': 'Phillips Ltd', 'address': {'building number': '68276', 'street': 'Kevin Overpass', 'city': 'South Gabriella', 'country': 'Paraguay'}}
{'_id': 10, 'name': 'David Holland', 'mob': '558.380.9361', 'occupation': 'Town planner', 'company': 'Smith and Sons', 'address': {'building number': '44223', 'street': 'Robinson Estates', 'city': 'Rebeccaside', 'country': 'Korea'}}
{'_id': 11, 'name': 'Joseph Harrison', 'mob': '123-446-1823x414', 'occupation': 'Engineer, structural', 'company': 'Morton, Melton and Owens', 'address': {'building number': '376', 'street': 'Bradford Plains', 'city': 'Lake Amyland', 'country': 'Wallis and Futuna'}}
{'_id': 12, 'name': 'Karina Dyer', 'mob': '329-670-0466', 'occupation': 'Programmer, applications', 'company': 'Stewart and Sons', 'address': {'building number': '933', 'street': 'Bailey Skyway', 'city': 'New Debraton', 'country': 'Malaysia'}}
{'_id': 13, 'name': 'Karen Carter', 'mob': '(646)291-8880x986', 'occupation': 'Higher education careers adviser', 'company': 'Santana-Thomas', 'address': {'building number': '81164', 'street': 'Donald Heights', 'city': 'Jefferytown', 'country': 'Turks and Caicos Islands'}}
{'_id': 14, 'name': 'Brandi Dillon', 'mob': '869-394-1243x62960', 'occupation': 'Art gallery manager', 'company': 'Obrien-Miller', 'address': {'building number': '534', 'street': 'Gonzalez Camp', 'city': 'New Austin', 'country': 'Isle of Man'}}
{'_id': 15, 'name': 'Rachel Miller', 'mob': '001-154-498-9244', 'occupation': 'Production assistant, radio', 'company': 'Hickman-Reyes', 'address': {'building number': '040', 'street': 'John Ports', 'city': 'Jenkinsville', 'country': 'San Marino'}}
{'_id': 16, 'name': 'Jennifer Jackson', 'mob': '951.903.7030', 'occupation': 'Database administrator', 'company': 'Bryant Ltd', 'address': {'building number': '5443', 'street': 'Dean Keys', 'city': 'West Paulside', 'country': 'Mexico'}}
{'_id': 17, 'name': 'James Durham', 'mob': '598-846-7704', 'occupation': 'Therapist, sports', 'company': 'Snow, Vance and Duncan', 'address': {'building number': '50726', 'street': 'Kelly Glen', 'city': 'Michaelport', 'country': 'Ukraine'}}
{'_id': 18, 'name': 'Olivia Hansen', 'mob': '001-099-263-5713x2247', 'occupation': 'IT sales professional', 'company': 'Beck-Williamson', 'address': {'building number': '5377', 'street': 'Mayer Keys', 'city': 'Lake Candice', 'country': 'Guatemala'}}
{'_id': 19, 'name': 'Tracey Holmes', 'mob': '956-031-7393', 'occupation': 'Waste management officer', 'company': 'Marquez, Gaines and Bruce', 'address': {'building number': '57527', 'street': 'Forbes Road', 'city': 'North Andrea', 'country': 'Christmas Island'}}
{'_id': 20, 'name': 'Brenda Johnson', 'mob': '001-032-635-8699x899', 'occupation': 'Clinical research associate', 'company': 'Wiggins-Mckenzie', 'address': {'building number': '38906', 'street': 'Angela Ports', 'city': 'West Gloriabury', 'country': 'Saint Pierre and Miquelon'}}
{'_id': 21, 'name': 'David Boyd', 'mob': '(520)244-3027', 'occupation': 'Engineer, communications', 'company': 'Wagner, Burnett and Compton', 'address': {'building number': '901', 'street': 'Daniel Inlet', 'city': 'North Jennifer', 'country': 'Taiwan'}}
{'_id': 22, 'name': 'Megan Prince', 'mob': '(530)605-8474x8290', 'occupation': 'Investment banker, corporate', 'company': 'White-Hill', 'address': {'building number': '42323', 'street': 'Williams Corners', 'city': 'East Mitchellview', 'country': 'Bhutan'}}
{'_id': 23, 'name': 'Amy Mathews', 'mob': '616-632-0541', 'occupation': 'Scientist, clinical (histocompatibility and immunogenetics)', 'company': 'Carter-Morris', 'address': {'building number': '18920', 'street': 'West Skyway', 'city': 'Lake Melissaview', 'country': 'Honduras'}}
{'_id': 24, 'name': 'Gabriel Underwood', 'mob': '001-858-048-6312', 'occupation': 'Musician', 'company': 'Alexander LLC', 'address': {'building number': '6736', 'street': 'Joanne Views', 'city': 'Kaylastad', 'country': 'Brazil'}}
{'_id': 25, 'name': 'Christine Carter', 'mob': '011.692.8745', 'occupation': 'Engineering geologist', 'company': 'Johnson, White and Hayes', 'address': {'building number': '96120', 'street': 'Hopkins Green', 'city': 'Wigginsberg', 'country': 'Heard Island and McDonald Islands'}}
{'_id': 26, 'name': 'Brandon Martin', 'mob': '225-694-3831', 'occupation': 'Chief Strategy Officer', 'company': 'Freeman Ltd', 'address': {'building number': '8635', 'street': 'Meyer Mews', 'city': 'East George', 'country': 'Chad'}}
{'_id': 27, 'name': 'Monique Santos DDS', 'mob': '001-377-160-6567x32078', 'occupation': 'Warehouse manager', 'company': 'Torres-Jones', 'address': {'building number': '920', 'street': 'Samantha Crossroad', 'city': 'Lake Aprilfurt', 'country': 'Korea'}}
{'_id': 28, 'name': 'Alexa Vargas', 'mob': '357.202.0424x29794', 'occupation': 'Teacher, adult education', 'company': 'Johnson-Morales', 'address': {'building number': '4393', 'street': 'Tony Inlet', 'city': 'Ruthfort', 'country': 'Thailand'}}
{'_id': 29, 'name': 'Rachel Johnson', 'mob': '290-923-4192x854', 'occupation': 'Network engineer', 'company': 'Brown, Smith and Schroeder', 'address': {'building number': '316', 'street': 'Franklin Shores', 'city': 'Gutierrezview', 'country': 'Jamaica'}}
{'_id': 30, 'name': 'John Johnson', 'mob': '218.135.9947x96236', 'occupation': 'Lighting technician, broadcasting/film/video', 'company': 'Zavala PLC', 'address': {'building number': '40271', 'street': 'Parker Highway', 'city': 'Kristopherburgh', 'country': 'Holy See (Vatican City State)'}}
{'_id': 31, 'name': 'Matthew Horton', 'mob': '786.792.9706x9783', 'occupation': 'Doctor, general practice', 'company': 'Duncan-Underwood', 'address': {'building number': '254', 'street': 'Justin Locks', 'city': 'Wellsstad', 'country': 'Guernsey'}}
{'_id': 32, 'name': 'Robert Cole', 'mob': '001-442-840-7979x4970', 'occupation': 'Industrial buyer', 'company': 'Carpenter, Ray and Williams', 'address': {'building number': '4063', 'street': 'Garcia Fork', 'city': 'Saraberg', 'country': 'Falkland Islands (Malvinas)'}}
{'_id': 33, 'name': 'Raymond Russell', 'mob': '+1-461-634-6883', 'occupation': 'Learning mentor', 'company': 'King-Cook', 'address': {'building number': '295', 'street': 'Williams Ramp', 'city': 'North Markfort', 'country': 'Ethiopia'}}
{'_id': 34, 'name': 'Mark Nelson', 'mob': '882.184.1759x5223', 'occupation': 'Interior and spatial designer', 'company': 'Barr, Smith and Livingston', 'address': {'building number': '392', 'street': 'Charles Ramp', 'city': 'New Sara', 'country': 'Myanmar'}}
{'_id': 35, 'name': 'Jason Weaver', 'mob': '+1-233-537-9294', 'occupation': 'Buyer, industrial', 'company': 'Reid, Brown and Hardy', 'address': {'building number': '30661', 'street': 'Michael Prairie', 'city': 'Lake Michaelmouth', 'country': 'United States Virgin Islands'}}
{'_id': 36, 'name': 'Tanya Sullivan', 'mob': '769.778.9440', 'occupation': 'Civil engineer, consulting', 'company': 'Harmon LLC', 'address': {'building number': '47398', 'street': 'Clements Drive', 'city': 'Lake Cassandraton', 'country': 'Marshall Islands'}}
{'_id': 37, 'name': 'Brandon Clements', 'mob': '418-740-6015x898', 'occupation': 'Presenter, broadcasting', 'company': 'Roth-Calhoun', 'address': {'building number': '911', 'street': 'Harris Roads', 'city': 'Anneville', 'country': 'Heard Island and McDonald Islands'}}
{'_id': 38, 'name': 'Tammy Dean', 'mob': '960.336.1261x337', 'occupation': 'Museum/gallery curator', 'company': 'Castro Group', 'address': {'building number': '6222', 'street': 'Mcdonald Crossing', 'city': 'North Kimberly', 'country': 'Brunei Darussalam'}}
{'_id': 39, 'name': 'David Kim', 'mob': '(519)272-9751', 'occupation': 'Personnel officer', 'company': 'Diaz Ltd', 'address': {'building number': '2664', 'street': 'Evans Knoll', 'city': 'West Stevenmouth', 'country': 'Singapore'}}
{'_id': 40, 'name': 'Patricia Nelson', 'mob': '600.570.6785', 'occupation': 'Intelligence analyst', 'company': 'Solomon and Sons', 'address': {'building number': '45443', 'street': 'Ryan Radial', 'city': 'North Joview', 'country': 'British Virgin Islands'}}

In [15]:
# Search someone's number by name
name = input("Enter the name: ")
query = {
    'name' : name.title()
}

for x in mycol.find(query):
    print("Name: {}\nMob.: {}".format(x['name'], x['mob']))

Name: Patricia Nelson
Mob.: 600.570.6785

In [16]:
name = input("Enter the name: ")
query = {
    'name' : name.title()
}

for x in mycol.find(query):
    print("Name: {}\nCompany.: {}".format(x['name'], x['company']))

Name: John Obrien
Company.: Luna-Pena

In [20]:
# find address
query = {'name':input('Enter name: ').title()}

for x in mycol.find(query):
    print('Name: \t\t',x['name'])
    for i,v in x['address'].items():
        print(i+"\t: \t"+v)

Name: 		 Robin Singh
building number	: 	644
street	: 	Mccarty Brooks
city	: 	Port David
country	: 	Saint Vincent and the Grenadines

### Update

In [10]:
myquery={'name':'Joseph Moore'}

for i in mycol.find(myquery):
    for i,v in i.items():
        print(i+": "+str(v))

_id: 13
name: Joseph Moore
mob: 578.080.3746
occupation: Rural practice surveyor
company: Brown Ltd
address: {'building number': '0287', 'street': 'Kyle Meadows', 'city': 'Reedchester', 'country': 'Congo'}

In [23]:
# update a phone number
myquery = {'name':input().title()}

newval = {"$set":{"mob":input('Enter new mobile number: ')}}

mycol.update_one(myquery,newval)
print('The value is updated.../')

The value is updated.../

In [18]:
# updating building number
myquery = {'name': 'Olivia Hansen'}

for i in mycol.find(myquery):
    id = i['_id']
    bld_no = i['address']['building number']

print(bld_no)

mycol.update_one({"_id":id},{"$set":{"address.building number":input("New Values: ")}})
print("Values updated.../")

5377
Values updated.../

In [19]:
myquery={'name':'olivia hansen'.title()}

for i in mycol.find(myquery):
    for i,v in i.items():
        print(i+": "+str(v))

_id: 18
name: Olivia Hansen
mob: 001-099-263-5713x2247
occupation: IT sales professional
company: Beck-Williamson
address: {'building number': '412', 'street': 'Mayer Keys', 'city': 'Lake Candice', 'country': 'Guatemala'}

### Delete

In [20]:
# Before deletion 
print(mycol.count_documents({}))

# deleting the last document
myquery = {'_id':40}
mycol.delete_one(myquery)

# after deletion
print(mycol.count_documents({}))

40
39

In [ ]:
# Erase everything
mycol.delete_many({})
print("All the data in the database has successfully deleted../")